@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    padding: 20px 130px;
}
#checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.heading{
    font-weight: 600;
    color: #4E5150;
    font-size: 36px;
    margin-bottom: 25px;
}
.title{
    margin-top: 50px;
    font-weight: 600;
    color: #333333;
}
.input-icons i {
    position: absolute;
}
 
.input-icons {
    margin: 20px 0;
}
label{
    font-weight: 600;
    color: #4F4F4F;
    font-size: 12px;
    line-height: 14.63px;
}
#country{
    display: flex;
    margin-bottom: 10px;
    width: 465px;
    gap: 35px;
}
  
.icon {
    margin-top: 15px;
    margin-left: 12px;
    color: #828282;
    font-size: 16px;
}
  
.input-field {
    padding: 15px;
    width: 465px;
    border: 1px solid #828282;
    border-radius: 10px;
}
.country-input-field{
    text-align: center;
    padding: 15px;
    width: 218px;
    border: 1px solid #828282;
    border-radius: 10px;
}
.country-input-field::placeholder{
    position: absolute;
    left: 50px;
    font-weight: 600;
}
select{
    font-weight: 600;
    color: #828282;
    text-align: center;
}
option{
    font-weight: 600;
    color: #828282;
}
.input-field{
    text-align: center;
}
.input-field::placeholder{
    position: absolute;
    left: 50px;
    font-weight: 600;
}

.check{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}
.check p{
    font-weight: 600;
     font-size: 12px;
     color: #4F4F4F;
}
#con-btn{
    padding: 15px 30px;
    background-color: #F2994A;
    outline: none;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
}




#cart{
     background-color:#F2F2F2 ;
     padding: 30px;
     border-radius: 10px;
}
.pro-img{
    width: 150px;
    border-radius: 25px;
}
.pro1,.pro2{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.pro2{
    margin-bottom: 80px;
}
.quantity{
    display: flex;
    align-items: center;
}
#quantity{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333333;
    outline: nones;
    color: #4E5150;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color:#F2F2F2 ;
}

.fa-minus{
    position: absolute;
    margin-left: 5px;
    color: #828282;
    font-size: 20px;
    background-color: #cfd3d2;
    padding: 2px;
    border-radius: 5px;

}
.fa-plus{
    position: absolute;
    margin-left: 94px;
    color: #828282;
    font-size: 20px;
    background-color: #cfd3d2;
    padding: 2px;
    border-radius: 5px;
}

.pro-name{
  font-weight: 600;
  padding-bottom: 15px;
  color: #4E5150;
}
.price{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
}
.current-price{
    color: #F2994A;
    font-weight: 600;
}
.old-price{
    color: #4E5150;
    font-weight: 600;
    font-size: 13px;
    text-decoration: line-through;
}
.shopping{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.shop-price{
    color: #333333;
    font-weight: 600;
}
.section-title{
   font-weight: 600;
}

/* Footer style start */
#footer{
    text-align: center;
    margin-top: 150px;
}
.footer-details{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #BDBDBD;
    line-height: 17px;
}

.link{
    font-weight: 700;
    color: #BDBDBD;
}
/* Footer style start */

/* Responsive layout */
@media screen and (max-width:600px) {

    .container{
    padding: 20px 0;
}
#cart{
 margin: 0 50px;
}
#checkout{
    flex-direction: column-reverse;
    gap: 50px;
}
#country{
    width: 300px;
    gap: 10px;
}
.input-field {
    width: 300px;
}
.country-input-field{
    padding: 15px;
    width: 130px;
}
.select-field{
    width: 165px;
    text-align: right;
}
#footer{
    text-align: center;
    margin-top: 80px;
}
}